[Unit]
Description=Sensor Service
After=network.target device-init.service
Requires=device-init.service

[Service]
Type=simple
ExecStart=/opt/fboss/bin/sensor_service
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
