[Unit]
Description=FBOSS Switching Agent Daemon
# TODO(cooper): Use systemd-analyze to tune this for faster boot times
After=network.target
ConditionPathExists=/etc/coop/agent.conf

[Service]
LimitNOFILE=10000000
# 32gb is a lot of Core - 1/4 of Wedge Storage
LimitCORE=32G
SyslogIdentifier=wedge_agent
# Chef will configure syslog to place in
# /var/log/facebook/wedge_agent.log
# fb_logrotate controls 2 week log rotation by defaukt
StandardOutput=syslog

# TODO(cooper): Remove use of .sh once unified options exist across platforms
# (if ever possible - probably not) or move the logic to wege_wrapper.par
ExecStart=/etc/packages/neteng-fboss-wedge_agent/current/wedge_agent.sh

Restart=always

[Install]
WantedBy=multi-user.target
