# /usr/lib/systemd/system/fan_service.service
[Unit]
Description=FBOSS Fan Service
After=platform_manager.service
After=rc-local.service
StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=notify
LimitNOFILE=10000000
LimitCORE=32G

Environment="PATH=/opt/fboss/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
Environment="LD_LIBRARY_PATH=/opt/fboss/lib"
WorkingDirectory=/opt/fboss
ExecStart=/bin/bash -c 'source /opt/fboss/bin/setup_fboss_env && exec /opt/fboss/bin/fan_service --subscribe_to_stats_from_fsdb --subscribe_to_qsfp_data_from_fsdb'

Restart=always
RestartSec=30
TimeoutStartSec=180s

# Logging to journald
StandardOutput=journal
StandardError=journal
SyslogIdentifier=fan_service

[Install]
WantedBy=multi-user.target
