# /usr/lib/systemd/system/fboss_sw_agent.service
[Unit]
Description=FBOSS SW Agent
After=platform_manager.service
After=qsfp_service.service
After=rc-local.service
StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=notify
LimitNOFILE=10000000
LimitCORE=32G
MemoryMax=3.75G
MemorySwapMax=0

Environment="PATH=/opt/fboss/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
Environment="LD_LIBRARY_PATH=/opt/fboss/lib"
WorkingDirectory=/opt/fboss
ExecStart=/bin/bash -c 'source /opt/fboss/bin/setup_fboss_env && exec /opt/fboss/bin/fboss_sw_agent'

Restart=always
RestartSec=30
TimeoutStartSec=180s
TimeoutStopSec=30s

# Logging to journald
StandardOutput=journal
StandardError=journal
SyslogIdentifier=fboss_sw_agent

[Install]
WantedBy=multi-user.target
