#IOB_FPGA I2C BUS
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.0", ATTR{name}=="Meta i2c-fbiob I2C controller #0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_1"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.1", ATTR{name}=="Meta i2c-fbiob I2C controller #1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_2"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.2", ATTR{name}=="Meta i2c-fbiob I2C controller #2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_3"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.3", ATTR{name}=="Meta i2c-fbiob I2C controller #3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_4"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.4", ATTR{name}=="Meta i2c-fbiob I2C controller #4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_5"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.5", ATTR{name}=="Meta i2c-fbiob I2C controller #5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_6"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.6", ATTR{name}=="Meta i2c-fbiob I2C controller #6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_7"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.7", ATTR{name}=="Meta i2c-fbiob I2C controller #7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_8"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.8", ATTR{name}=="Meta i2c-fbiob I2C controller #8", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_9"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.9", ATTR{name}=="Meta i2c-fbiob I2C controller #9", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_10"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.10", ATTR{name}=="Meta i2c-fbiob I2C controller #10", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_11"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.11", ATTR{name}=="Meta i2c-fbiob I2C controller #11", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_12"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.12", ATTR{name}=="Meta i2c-fbiob I2C controller #12", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_13"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.13", ATTR{name}=="Meta i2c-fbiob I2C controller #13", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_14"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.14", ATTR{name}=="Meta i2c-fbiob I2C controller #14", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_15"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.15", ATTR{name}=="Meta i2c-fbiob I2C controller #15", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_16"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.16", ATTR{name}=="Meta i2c-fbiob I2C controller #16", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_17"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.17", ATTR{name}=="Meta i2c-fbiob I2C controller #17", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_18"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.18", ATTR{name}=="Meta i2c-fbiob I2C controller #18", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_19"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.19", ATTR{name}=="Meta i2c-fbiob I2C controller #19", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_20"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.20", ATTR{name}=="Meta i2c-fbiob I2C controller #20", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_21"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.21", ATTR{name}=="Meta i2c-fbiob I2C controller #21", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_22"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.22", ATTR{name}=="Meta i2c-fbiob I2C controller #22", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_23"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.23", ATTR{name}=="Meta i2c-fbiob I2C controller #23", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_24"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.24", ATTR{name}=="Meta i2c-fbiob I2C controller #24", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_25"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.25", ATTR{name}=="Meta i2c-fbiob I2C controller #25", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_26"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbiob.26", ATTR{name}=="Meta i2c-fbiob I2C controller #26", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/IOB_I2C_BUS_27"


#DOM_FPGA1 I2C BUS
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.0", ATTR{name}=="Meta i2c-fbdom1 I2C controller #0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_1"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.1", ATTR{name}=="Meta i2c-fbdom1 I2C controller #1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_2"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.2", ATTR{name}=="Meta i2c-fbdom1 I2C controller #2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_3"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.3", ATTR{name}=="Meta i2c-fbdom1 I2C controller #3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_4"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.4", ATTR{name}=="Meta i2c-fbdom1 I2C controller #4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_5"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.5", ATTR{name}=="Meta i2c-fbdom1 I2C controller #5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_6"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.6", ATTR{name}=="Meta i2c-fbdom1 I2C controller #6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_7"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.7", ATTR{name}=="Meta i2c-fbdom1 I2C controller #7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_8"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.8", ATTR{name}=="Meta i2c-fbdom1 I2C controller #8", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_9"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.9", ATTR{name}=="Meta i2c-fbdom1 I2C controller #9", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_10"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.10", ATTR{name}=="Meta i2c-fbdom1 I2C controller #10", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_11"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.11", ATTR{name}=="Meta i2c-fbdom1 I2C controller #11", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_12"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.12", ATTR{name}=="Meta i2c-fbdom1 I2C controller #12", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_13"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.13", ATTR{name}=="Meta i2c-fbdom1 I2C controller #13", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_14"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.14", ATTR{name}=="Meta i2c-fbdom1 I2C controller #14", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_15"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.15", ATTR{name}=="Meta i2c-fbdom1 I2C controller #15", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_16"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.16", ATTR{name}=="Meta i2c-fbdom1 I2C controller #16", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_17"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.17", ATTR{name}=="Meta i2c-fbdom1 I2C controller #17", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_18"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.18", ATTR{name}=="Meta i2c-fbdom1 I2C controller #18", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_19"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.19", ATTR{name}=="Meta i2c-fbdom1 I2C controller #19", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_20"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.20", ATTR{name}=="Meta i2c-fbdom1 I2C controller #20", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_21"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.21", ATTR{name}=="Meta i2c-fbdom1 I2C controller #21", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_22"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.22", ATTR{name}=="Meta i2c-fbdom1 I2C controller #22", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_23"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.23", ATTR{name}=="Meta i2c-fbdom1 I2C controller #23", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_24"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.24", ATTR{name}=="Meta i2c-fbdom1 I2C controller #24", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_25"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.25", ATTR{name}=="Meta i2c-fbdom1 I2C controller #25", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_26"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.26", ATTR{name}=="Meta i2c-fbdom1 I2C controller #26", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_27"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.27", ATTR{name}=="Meta i2c-fbdom1 I2C controller #27", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_28"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.28", ATTR{name}=="Meta i2c-fbdom1 I2C controller #28", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_29"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.29", ATTR{name}=="Meta i2c-fbdom1 I2C controller #29", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_30"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.30", ATTR{name}=="Meta i2c-fbdom1 I2C controller #30", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_31"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.31", ATTR{name}=="Meta i2c-fbdom1 I2C controller #31", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_32"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.32", ATTR{name}=="Meta i2c-fbdom1 I2C controller #32", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/DOM1_I2C_BUS_33"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom1.33", ATTR{name}=="Meta i2c-fbdom1 I2C controller #33", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/DOM1_I2C_BUS_34"

#DOM_FPGA2 I2C BUS
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.0", ATTR{name}=="Meta i2c-fbdom2 I2C controller #0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_33"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.1", ATTR{name}=="Meta i2c-fbdom2 I2C controller #1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_34"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.2", ATTR{name}=="Meta i2c-fbdom2 I2C controller #2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_35"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.3", ATTR{name}=="Meta i2c-fbdom2 I2C controller #3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_36"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.4", ATTR{name}=="Meta i2c-fbdom2 I2C controller #4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_37"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.5", ATTR{name}=="Meta i2c-fbdom2 I2C controller #5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_38"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.6", ATTR{name}=="Meta i2c-fbdom2 I2C controller #6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_39"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.7", ATTR{name}=="Meta i2c-fbdom2 I2C controller #7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_40"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.8", ATTR{name}=="Meta i2c-fbdom2 I2C controller #8", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_41"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.9", ATTR{name}=="Meta i2c-fbdom2 I2C controller #9", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_42"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.10", ATTR{name}=="Meta i2c-fbdom2 I2C controller #10", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_43"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.11", ATTR{name}=="Meta i2c-fbdom2 I2C controller #11", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_44"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.12", ATTR{name}=="Meta i2c-fbdom2 I2C controller #12", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_45"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.13", ATTR{name}=="Meta i2c-fbdom2 I2C controller #13", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_46"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.14", ATTR{name}=="Meta i2c-fbdom2 I2C controller #14", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_47"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.15", ATTR{name}=="Meta i2c-fbdom2 I2C controller #15", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_48"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.16", ATTR{name}=="Meta i2c-fbdom2 I2C controller #16", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_49"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.17", ATTR{name}=="Meta i2c-fbdom2 I2C controller #17", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_50"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.18", ATTR{name}=="Meta i2c-fbdom2 I2C controller #18", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_51"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.19", ATTR{name}=="Meta i2c-fbdom2 I2C controller #19", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_52"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.20", ATTR{name}=="Meta i2c-fbdom2 I2C controller #20", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_53"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.21", ATTR{name}=="Meta i2c-fbdom2 I2C controller #21", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_54"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.22", ATTR{name}=="Meta i2c-fbdom2 I2C controller #22", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_55"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.23", ATTR{name}=="Meta i2c-fbdom2 I2C controller #23", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_56"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.24", ATTR{name}=="Meta i2c-fbdom2 I2C controller #24", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_57"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.25", ATTR{name}=="Meta i2c-fbdom2 I2C controller #25", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_58"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.26", ATTR{name}=="Meta i2c-fbdom2 I2C controller #26", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_59"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.27", ATTR{name}=="Meta i2c-fbdom2 I2C controller #27", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_60"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.28", ATTR{name}=="Meta i2c-fbdom2 I2C controller #28", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_61"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.29", ATTR{name}=="Meta i2c-fbdom2 I2C controller #29", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_62"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.30", ATTR{name}=="Meta i2c-fbdom2 I2C controller #30", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_63"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.31", ATTR{name}=="Meta i2c-fbdom2 I2C controller #31", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/XCVR_64"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.32", ATTR{name}=="Meta i2c-fbdom2 I2C controller #32", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/DOM2_I2C_BUS_33"
SUBSYSTEM=="i2c", KERNELS=="i2c-fbdom2.33", ATTR{name}=="Meta i2c-fbdom2 I2C controller #33", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/DOM2_I2C_BUS_34"

#MUX_BUS_0_I2C_EXPAND  Change to actual physical bus
SUBSYSTEM=="i2c-dev", ATTR{name}=="i2c-*-mux (chan_id 0)", KERNELS=="i2c-fbiob.0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MUX_BUS0_I2C_0"
SUBSYSTEM=="i2c-dev", ATTR{name}=="i2c-*-mux (chan_id 1)", KERNELS=="i2c-fbiob.0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MUX_BUS0_I2C_1"
SUBSYSTEM=="i2c-dev", ATTR{name}=="i2c-*-mux (chan_id 2)", KERNELS=="i2c-fbiob.0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MUX_BUS0_I2C_2"
SUBSYSTEM=="i2c-dev", ATTR{name}=="i2c-*-mux (chan_id 3)", KERNELS=="i2c-fbiob.0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MUX_BUS0_I2C_3"
SUBSYSTEM=="i2c-dev", ATTR{name}=="i2c-*-mux (chan_id 4)", KERNELS=="i2c-fbiob.0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MUX_BUS0_I2C_4"
SUBSYSTEM=="i2c-dev", ATTR{name}=="i2c-*-mux (chan_id 5)", KERNELS=="i2c-fbiob.0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MUX_BUS0_I2C_5"
SUBSYSTEM=="i2c-dev", ATTR{name}=="i2c-*-mux (chan_id 6)", KERNELS=="i2c-fbiob.0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MUX_BUS0_I2C_6"
SUBSYSTEM=="i2c-dev", ATTR{name}=="i2c-*-mux (chan_id 7)", KERNELS=="i2c-fbiob.0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MUX_BUS0_I2C_7"

#MUX_BUS_1_I2C_EXPAND Change to actual physical bus
SUBSYSTEM=="i2c-dev", ATTR{name}=="i2c-*-mux (chan_id 0)", KERNELS=="i2c-fbiob.1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MUX_BUS1_I2C_0"
SUBSYSTEM=="i2c-dev", ATTR{name}=="i2c-*-mux (chan_id 1)", KERNELS=="i2c-fbiob.1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MUX_BUS1_I2C_1"
SUBSYSTEM=="i2c-dev", ATTR{name}=="i2c-*-mux (chan_id 2)", KERNELS=="i2c-fbiob.1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MUX_BUS1_I2C_2"
SUBSYSTEM=="i2c-dev", ATTR{name}=="i2c-*-mux (chan_id 3)", KERNELS=="i2c-fbiob.1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MUX_BUS1_I2C_3"

#ADD COME BUS
SUBSYSTEM=="i2c-dev", ATTR{name}=="SMBus iSMT adapter at 20fffa7b000", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/ISMT_I2C_BUS"
SUBSYSTEM=="i2c-dev", ATTR{name}=="SMBus I801 adapter at 5000", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/I801_I2C_BUS"
